<div>
<h1> Welcome to the Birthday Web Application! </h1>
</div>

<div> 
<h4> What is your name? <h4>
<form action = "/info" method ="post">
<input type= "text" name = "name">

<h4> When is your birthday? <h4>
<form action "/info" method ="post">
<p> Day:<p>
<input type ="day" name= "birthday_day">
<p> Month: <p>
<input type ="month" name= "birthday_month">

<p><button>Submit</button></p>
<div>

