<div>
<h1> Welcome to the Birthday Web Application! </h1>
</div>

<div> 
<h2> What is your name? <h2>
<form action = "/info" method ="post">
<input type= "text" name = "name">

<h2> What is your birthday? <h2>
<form action "/info" method ="post">
<input type ="date" name= "birthday">
<p><button>Submit</button></p>
<div>

